.tab1-wrapper {
    min-height: 100vh;
    padding: 0 12px 24px;
    background: #EEE4FF;
}

/* ------------------- HERO S LOGAMI ------------------- */
.hero {
    margin: -4px -12px 20px;
    padding: 7px 16px 1px;
    background: #c8bedc93;
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.249);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hlavné logo Pokémon */
.logo-main {
    width: 85%;
    max-width: 360px;
    display: block;
    margin: -80px auto 0;
}

/* Logo ALBUM – veľmi blízko pod Pokémon */
.logo-album {
    width: 36%;
    max-width: 180px;
    display: block;
    margin: -140px auto 0;
}

/* ------------------- SEARCH + CARDS POD HERO ------------------- */

.search-block {
    width: 100%;
    max-width: 460px;
    margin: 16px auto 0;
}

/* searchbar */
.search-input {
    --background: rgba(255, 255, 255, 0.85);
    --border-radius: 30px;
    --color: #4b4b4b;
    --placeholder-color: #b7b7d0;
    height: 46px;
}

/* Cards badge – pod searchbarom, vpravo */
.card-count {
    margin: 10px auto 0;
    background: #6e95d8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 22px;
    border-radius: 20px;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6px;

    box-shadow: 0 4px 12px rgba(80, 120, 200, 0.45);
}

.card-count .value {
    font-weight: 800;
}

/* ------------------- EMPTY  ------------------- */

.empty {
    margin-top: 34px;
    text-align: center;
    color: rgba(195, 185, 221, 0.95);
    font-size: 18px;
    line-height: 1.48;
    font-weight: 500;
}

/* ------------------- GRID S KARTAMI ------------------- */

.grid {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.card-btn {
    background: none;
    border: none;
    padding: 0;
}

.card-img {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 12px;
    box-shadow: 0 10px 18px rgba(20, 20, 40, 0.35);
    object-fit: cover;
}

/* ------------------- POZADIE ZA KARTAMI ------------------- */

.card-btn {
    background: #4c70ae;
    padding: 6px;
    border-radius: 16px;
    display: block;
    box-shadow: 0 6px 14px rgba(20, 20, 40, 0.35);
}

.card-img {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    object-fit: cover;
}