<ion-content [fullscreen]="true">
  <div class="tab1-wrapper">

    <!-- HORNÁ FIALOVÁ HERO ČASŤ – IBA LOGÁ -->
    <section class="hero">
      <img src="assets/pokemon.png" class="logo-main" alt="Pokémon logo" />
      <img src="assets/album.png" class="logo-album" alt="Album logo" />
    </section>

    <!-- SEARCH + CARDS UŽ MIMO HERO, POD FIALOVÝM BLOKOM -->
    <div class="search-block">
      <ion-searchbar [(ngModel)]="searchTerm" placeholder="Hľadaj podľa mena..." class="search-input">
      </ion-searchbar>

      <div class="card-count">
        <span class="label">Cards</span>
        <span class="value">{{ filteredCards.length }}</span>
      </div>
    </div>

    <!-- EMPTY STATE -->
    @if (filteredCards.length === 0) {
    <div class="empty">
      Zatiaľ tu nemáš žiadne kartičky.<br />
      Pridaj svojho prvého pokémona! &lt;3
    </div>
    }

    <!-- GRID S KARTAMI -->
    @if (filteredCards.length > 0) {
    <div class="grid">
      @for (card of filteredCards; track card) {
      <button class="card-btn" (click)="openDetail(card)">
        <img [src]="card.imageWebviewPath" class="card-img" />
      </button>
      }
    </div>
    }

  </div>
</ion-content>