/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
    /* základné farby témy */
    --ion-background-color: #f6ecff;
    --ion-text-color: #1f1633;

    /* Ionic primary farba – použije sa na tlačidlá, odkazy atď. */
    --ion-color-primary: #a855f7;
    --ion-color-primary-rgb: 168, 85, 247;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #944ce0;
    --ion-color-primary-tint: #b569f8;

    /* secondary (trochu ružová) */
    --ion-color-secondary: #ec4899;
    --ion-color-secondary-rgb: 236, 72, 153;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #d54188;
    --ion-color-secondary-tint: #ee5ba3;

    /* naše vlastné helpery */
    --pokemon-card-bg: #5b21b6;
    --pokemon-card-radius: 24px;
}

/* pastelové fialové pozadie všade */
ion-content {
    --background: radial-gradient(circle at top, #f9e6ff, #e8ddff 40%, #fdf7ff 100%);
}

/* aby sa všetko nedotýkalo okrajov */
.page-padding {
    padding: 16px;
}

/* toolbar – svetlý a jemný */
ion-header ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    color: #1f1633;
    box-shadow: none;
}